<% cheap_product = Product.where('price > 5').first %>
<p>
Product Name: "<%= cheap_product.name %>"" costs $<%= cheap_product.price %> 
</p>
<p>
  The seller for this product is named '<%= cheap_product.user.name %>'
</p>

<p> There are <%= Product.count %> products in stock.</p>
<p>
  Find me in <%= Rails.root.join("app", "views", "products", __FILE__ ) %>
</p>
<% cheap_product = Product.where('price > 5').first %>